//## Colors

//### Primary

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

//### Neutral

$dark-gray: hsl(0, 0%, 59%);


//### Body Copy

// - Font size (name and stats)

$font-size: 18px; 

//### Font

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$font-kumbh: 'Kumbh Sans', sans-serif;




